* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font: 14px/1.2em Helvetica, Arial, sans-serif;
}

input {
  font: 14px/1.2em Helvetica, Arial, sans-serif;
}
input:focus {
  outline: none;
}

.login {
  background-color: #000000;
  color: #FFFFFF;
  height: 100%;
  width: 100%;
}
.login .form {
  width: 300px;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
}
.login .form p {
  font-size: 30px;
  line-height: 32px;
  text-align: center;
}
.login .form input {
  background-color: transparent;
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF;
  margin-top: 10px;
  padding: 10px 4px;
  text-align: center;
  width: 100%;
}

.game {
  display: none;
  height: 100%;
}
.game .lobby, .game .team {
  height: 100%;
}
.game .lobby .chat, .game .team .chat {
  padding: 10px;
  height: 100%;
}
.game .lobby .chat li, .game .team .chat li {
  padding: 2px 0;
}
.game .lobby .chat li .message, .game .team .chat li .message {
  padding-left: 10px;
}
.game .lobby .input, .game .team .input {
  background-color: #000000;
  padding: 10px;
  margin-top: -56px;
}
.game .lobby .input input, .game .team .input input {
  padding: 10px;
  width: 100%;
}
.game .team {
  background-color: #F8F8F8;
  position: fixed;
  top: 20px;
  right: 20px;
  height: 300px;
  width: 500px;
}
