@import "compass/css3/box-sizing";

* {
	@include box-sizing(border-box);
	border: none;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	font: 14px/1.2em Helvetica, Arial, sans-serif;
}

input {
	font: 14px/1.2em Helvetica, Arial, sans-serif;
	&:focus {
		outline: none;
	}
}

.login {
	background-color: #000000;
	color: #FFFFFF;
	height: 100%;
	width: 100%;
	.form {
		width: 300px;
		position: fixed;
		margin: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100px;
		p {
			font-size: 30px;
			line-height: 32px;
			text-align: center;
		}
		input {
			background-color: transparent;
			border-bottom: 1px solid #FFFFFF;
			color: #FFFFFF;
			margin-top: 10px;
			padding: 10px 4px;
			text-align: center;
			width: 100%;
		}
	}
}

.game {
	display: none;
	height: 100%;
	.lobby, .team {
		height: 100%;
		.chat {
			padding: 10px;
			height: 100%;
			li {
				padding: 2px 0;
				.message {
					padding-left: 10px;
				}
			}
		}
		.input {
			background-color: #000000;
			padding: 10px;
			margin-top: -56px;
			input {
				padding: 10px;
				width: 100%;
			}
		}
	}
	.team {
		background-color: #F8F8F8;
		position: fixed;
		top: 20px;
		right: 20px;
		height: 300px;
		width: 500px;
	}
}
